{% extends "/manag/manag_template.html"%}

{% block main %}

<h4 class="text-center fw-bold" width="100%" height="100px"> <a style="color: black; text-decoration: none;"
    href="/manag/manag_user_main">회원관리</a> </h4>
<form>
  <div class="justify-content-center row">
    <div class="row col-7" style="align-items: center;">
      <div class="col-3">
        <select class="form-control" name="key_name">
          <option value="user_ID" {{ 'selected' if request._query_params.key_name=='user_ID' else '' }}>
            아이디
          </option>
          <option value="user_name" {{ 'selected' if request._query_params.key_name=='user_name' else '' }}>
            이름
          </option>
          <option value="user_email" {{ 'selected' if request._query_params.key_name=='user_email' else '' }}>
            이메일
          </option>
          <option value="user_phonenumber" {{ 'selected' if request._query_params.key_name=='user_phonenumber' else ''
            }}>
            전화번호
          </option>
        </select>
      </div>
      <div class="col-7">
        <input class="form-control" placeholder="Enter Search!" name="search_word" id="search_keyword"
          value="{{request._query_params.search_word}}">
      </div>

      <div class="col-2">
        <button type="submit" style="border:none; background: none;" formaction="/manag/manag_user_main"
          formmethod="get"><svg width="50" height="50" viewBox="0 0 80 80" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_7_45)">
              <path d="M5 40C5 20.67 20.67 5 40 5C59.33 5 75 20.67 75 40C75 59.33 59.33 75 40 75C20.67 75 5 59.33 5 40Z"
                fill="#04CBFC" fill-opacity="0.47" shape-rendering="crispEdges" />
            </g>
            <path d="M35 50L45 40L35 30" stroke="white" stroke-width="5" stroke-linecap="round" />
            <defs>
              <filter id="filter0_d_7_45" x="0" y="0" width="80" height="80" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset />
                <feGaussianBlur stdDeviation="2.5" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_45" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_45" result="shape" />
              </filter>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </div>
</form>

<!-- table -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>번호</th>
      <th>아이디</th>
      <th>이름</th>
      <th>이메일</th>
      <th>전화번호</th>
      <th>상세정보</th>
    </tr>
  </thead>
  <tbody>
    {% for User in user_list %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{User.user_ID}}</td>
      <td>{{User.user_name}}</td>
      <td>{{User.user_email}}</td>
      <td>{{User.user_phone}}</td>
      <td>
        <a style="border:none; background: none;" href="/manag/manag_user_detail/{{User.id}}" target="_blank"><svg
            width="61" height="32" viewBox="0 0 61 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_39_9)">
              <path
                d="M5 16C5 9.92487 9.92487 5 16 5H45C51.0751 5 56 9.92487 56 16V16C56 22.0751 51.0751 27 45 27H16C9.92487 27 5 22.0751 5 16V16Z"
                fill="#04CBFC" fill-opacity="0.47" shape-rendering="crispEdges" />
            </g>
            <path d="M27 22L34 16L27 10" stroke="white" stroke-width="2" stroke-linecap="round" />
            <defs>
              <filter id="filter0_d_39_9" x="0" y="0" width="61" height="32" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha" />
                <feOffset />
                <feGaussianBlur stdDeviation="2.5" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_39_9" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_39_9" result="shape" />
              </filter>
            </defs>
          </svg>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ '' if pagination.has_previous_block else 'disabled' }}">
      <button style="border: none; background: none;" type="submit" class="page-link"
        formaction="/manag/manag_user_main/{{pagination.first_page}}?{% if request._query_params.key_name %}key_name={{ request._query_params.key_name|urlencode }}{% endif %}{% if request._query_params.search_word %}&search_word={{ request._query_params.search_word|urlencode }}{% endif %}">
        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 3L12 9L18 15" stroke="#696969" stroke-width="5" stroke-linecap="round" />
          <path d="M10 3L4 9L10 15" stroke="#696969" stroke-width="5" stroke-linecap="round" />
        </svg>
      </button>
    </li>
    <li class="page-item {{ '' if pagination.has_previous_page else 'disabled' }}">
      <button style="border: none; background: none;" type="submit" class="page-link"
        formaction="/manag/manag_user_main/{{pagination.previous_page}}?{% if request._query_params.key_name %}key_name={{ request._query_params.key_name|urlencode }}{% endif %}{% if request._query_params.search_word %}&search_word={{ request._query_params.search_word|urlencode }}{% endif %}"><svg
          width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 3L4 9L10 15" stroke="#696969" stroke-width="5" stroke-linecap="round" />
        </svg></button>
    </li>
    {% for page_num in pagination.current_page_range %}
    <li class=" page-item {{ 'active' if page_num == pagination.current_page else '' }}">
      <button style="border: none; background: none; color: black;" type=" submit" class="page-link"
        formaction="/manag/manag_user_main/{{ page_num }}?{% if request._query_params.key_name %}key_name={{ request._query_params.key_name|urlencode }}{% endif %}{% if request._query_params.search_word %}&search_word={{ request._query_params.search_word|urlencode }}{% endif %}">
        {{page_num}}
      </button>
    </li>
    {% endfor %}
    <li class=" page-item {{ '' if pagination.has_next_page else 'disabled' }}">
      <button style="border: none; background: none;" type=" submit" class="page-link"
        formaction="/manag/manag_user_main/{{ pagination.next_page }}?{% if request._query_params.key_name %}key_name={{ request._query_params.key_name|urlencode }}{% endif %}{% if request._query_params.search_word %}&search_word={{ request._query_params.search_word|urlencode }}{% endif %}}"><svg
          width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 15L9 9L3 3" stroke="#696969" stroke-width="5" stroke-linecap="round" />
        </svg>
        <path d="M4 0V22" stroke="#EDEDED" stroke-width="7" />
        </svg>
      </button>
    </li>
    <li class=" page-item {{ '' if pagination.has_next_block else ' disabled' }}">
      <button style="border: none; background: none;" type=" submit" class="page-link"
        formaction="/manag/manag_user_main/{{ pagination.last_page }}?{% if request._query_params.key_name %}key_name={{ request._query_params.key_name|urlencode }}{% endif %}{% if request._query_params.search_word %}&search_word={{ request._query_params.search_word|urlencode }}{% endif %}">
        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 15L9 9L3 3" stroke="#696969" stroke-width="5" stroke-linecap="round" />
          <path d="M11 15L17 9L11 3" stroke="#696969" stroke-width="5" stroke-linecap="round" />
        </svg>
      </button>
    </li>
  </ul>
</nav>

{% endblock main %}